<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
            <providers>
                <timestamp>
                    <fieldName>timestamp</fieldName>
                    <pattern>yyyy-MM-dd' 'HH:mm:ss.SSS</pattern>
                </timestamp>
                <threadName><fieldName>thread</fieldName></threadName>
                <mdc>
                    <!-- Include correlationId from MDC -->
                    <includeMdcKeyName>correlationId</includeMdcKeyName>
                </mdc>
                <message/>
                <logLevel><fieldName>level</fieldName></logLevel>
                <loggerName><fieldName>logger</fieldName></loggerName>
                <sequence/>
                <logstashMarkers/>
                <pattern>
                    <pattern>{"microservice": "legacy-modernization-agent"}</pattern>
                </pattern>
            </providers>
        </encoder>
    </appender>

    <root level="DEBUG">
        <appender-ref ref="STDOUT" />
    </root>

</configuration>
